@model WordGuess.Models.Word;
<div>
    <h2> New Word Form</h2>
    <hr/>
    <p>
        Please enter the following info to add a new word to the library!
    </p>
    <div>
        <form asp-action="Create">
        <div class="form-group">
            <label>Category</label>
            <input type="text" class="form-control"  asp-for="Category">
        </div>
        <div class="form-group">
            <label for="exampleValue">Value</label>
            <input type="text" class="form-control" asp-for="Value">
        </div>
        
        <button type="submit" class="btn btn-primary">Create</button>
        </form>

    </div>
    <br/>
    
</div>