@using WordGuess.Models
@model List<Word>

<div>
    List of Books
</div>


<hr/>
<div>
<table class="table">
    <tr>
        <th>Category</th>
        <th>Value</th>
    </tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        <div>
            <tr>
                <td>@Model[i].Category</td>
                <td>@Model[i].Value</td>
            </tr>
        </div>
        
    }
    
    



    @* <tr>
        <td>People Name</td>
        <td style="color:red">Lori</td>
    </tr>
    <tr>
        <td>People Name</td>
        <td style="color:red">Adam</td>
    </tr> *@
</table>




</div>